<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gaurav.robotics_society">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/rslogo"
        android:label="Robotics Society"
        android:roundIcon="@drawable/rslogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity"/>

        <activity android:name=".user.forget" />

        <activity
            android:name=".user.profile"
            android:parentActivityName=".Home_Page" />

        <activity android:name=".Home_Page"/>

        <activity android:name=".events"
            android:parentActivityName=".Home_Page"/>

        <activity android:name=".awards"
            android:parentActivityName=".Home_Page"/>

        <activity
            android:name=".about"
            android:parentActivityName=".Home_Page"/>

        <activity
            android:name=".projects"
            android:parentActivityName=".Home_Page" />

        <service android:name=".Notify.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".Notify.MyFirebaseInstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_name" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

    </application>

</manifest>